.card-container {
  width: 320px;

  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  a {
    color: #1e71bb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding-top: 12px;
    width: fit-content;
  }
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  background-color: white;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.card-title {
  flex: 2;
  font-size: 16px;
  margin-top: 2px;
}

.card-author {
  font-size: 12px;
  padding-bottom: 16px;
}
