.newslist-container {
  .newslist-mobile-nav {
    display: none;
  }

  p {
    display: inline-flex;
    color: #1d1d1b;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
  }
}

.fav {
  color: #1d1d1b;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  opacity: 0.5;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.active {
  color: #1d1d1b;
  opacity: 1;
}

@media (max-width: 480px) {
  .newslist-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    .newslist-desktop-nav {
      display: none;
    }

    .active {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #bb1e1e;
      background-color: rgb(187, 30, 30, 0.1);
      width: 100px;
      height: 40px;
      border-radius: 20px;
    }

    .newslist-mobile-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 15px;

      p {
        font-size: 16px;
        margin: 0;
      }

      .fav {
        opacity: 1;
      }
    }
  }

  .news {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}
