.newslist-container {
  p {
    color: #1d1d1b;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
  }
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
