.newslist-container {
  margin-bottom: 20px;
  .newslist-mobile-nav {
    display: none;
  }
}

.newslist-desktop-nav {
  display: inline-flex;
  align-items: center;
  color: #1d1d1b;
  text-decoration: none;
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0;
}

.fav {
  color: #1d1d1b;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
  opacity: 0.5;
}

.all-news {
  text-decoration: none;
  color: #1d1d1b;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.75;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas:
    "a a b"
    "a a b";

  .latest-widget {
    grid-area: b;
  }
}

.active {
  color: #1d1d1b;
  opacity: 1;
}

@media (max-width: 480px) {
  .newslist-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 30px 0;

    .newslist-desktop-nav {
      display: none;
    }

    .newslist-mobile-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 15px;

      .fav:focus {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #bb1e1e;
        background-color: rgb(187, 30, 30, 0.1);
        width: 100px;
        height: 40px;
        border-radius: 20px;
      }

      p {
        font-size: 16px;
        margin: 0;
      }

      .fav {
        opacity: 1;
      }
    }
  }

  .news {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .latest-widget {
    display: none;
  }
}
