.phead-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(180deg, #bb1e1e 71.29%, #b21919 99.95%);
  height: 60px;
  color: white;
  padding: 0px 170px 0px;

  button {
    border: none;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 8px;
  }
}

.phead-text1 {
  font-size: 1rem;
  font-weight: 600;
}

.phead-text2 {
  flex: 2;
  font-size: 0.875rem;
  margin-left: 50px;
}

.btn-1 {
  height: 40px;
  width: 70px;
  background-color: white;
  color: black;
  margin-right: 25px;
}

.btn-2 {
  background-color: transparent;
  color: white;
  margin-right: 45px;
}

@media (max-width: 1280px) {
  .phead-text2 {
    font-size: 0.75rem;
    margin-left: 50px;
  }
}

@media (max-width: 1020px) {
  .phead-text2 {
    font-size: 0.6rem;
    margin-left: 10px;
  }
}

@media (max-width: 940px) {
  .phead-text2 {
    display: none;
  }
}

@media (max-width: 820px) {
  .phead-container {
    button {
      border: none;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 600;
      border-radius: 8px;
    }
  }
  .phead-text1 {
    font-size: 0.8rem;
  }

  .btn-1 {
    margin-right: 5px;
  }
}

@media (max-width: 740px) {
  .phead-container {
    display: none;
  }
}

@media (max-width: 480px) {
  .phead-container {
    display: none;
  }
}
