.searchline-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 175px 24px 175px;
  padding: 35px 0 28px 0;
  border-bottom: 1px solid rgb(151, 151, 151, 0.1);

  input {
    width: 725px;
    height: 50px;
    flex-shrink: 0;
    outline: 0;
  }

  div {
    // color: #bb1e1e;
    color: #bb1e1e;
    font-size: 32px;
    font-weight: 900;
    margin-right: 40px;
  }

  span {
    color: black;
  }
}

.searchbar {
  border-radius: 10px;
  border: none;
  background: #fff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
}

.searchbar::placeholder {
  font-size: 15px;
  align-items: center;
}
