.searchline-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 24px;
  padding: 35px 175px 28px 0;
  border-bottom: 1px solid rgb(151, 151, 151, 0.1);
  width: auto;
  input {
    width: 725px;
    height: 50px;
    flex-shrink: 0;
    outline: 0;
  }

  link {
  }

  a {
    color: #bb1e1e;
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
    margin-right: 40px;
  }

  span {
    color: black;
  }
}

.searchbar {
  border-radius: 10px;
  border: none;
  background: #fff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
}

.searchbar::placeholder {
  font-size: 15px;
  align-items: center;
}
