.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  font-weight: 600;
  height: 444px;
  position: sticky;
  top: 10px;
  gap: 2px;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    color: rgba(29, 29, 27, 0.5);
    text-decoration: none;
  }

  svg:hover {
    fill: #bb1e1e;
  }

  a:hover {
    border-radius: 5px;
    background-color: white;
    color: #bb1e1e;
  }

  .active {
    border-radius: 5px;
    background-color: white;
    color: #bb1e1e;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
